*{
    padding: 0;
    margin: 0;
}
article {
    background-color: rgb(253, 255, 236);
}
nav {
    background-color: rgb(206, 163, 134);
}
footer{
    float: left;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 80%;
    box-sizing: border-box;
    border-top: 3px solid #92663d;
    background-color: #b6987c;
    color: rgb(221, 215, 255);
    text-align: center;
    padding-top: 10px;;
}
.piePagina{
    width: 100%; /*ancho*/
    height: 100px; /*alto*/
    background: #b99c7b; /*color de fondo*/
    color: rgb(226, 216, 203);/*color de letra dentro de la clase*/
    bottom: 0; /*espacio de separación parte inferior*/
    position: fixed;
    left: 0; /*alineacipon de contenidos a la izquierda*/
}